.navbar-nav .nav-link {
  color: white !important;
}
.btn-light {
  color: #343a40;
}
.btn-outline-primary:hover {
  color: white !important;
}
.courseSearch {
  width: 300px;
}
.dropdown-menu {
  overflow: hidden;
}
.dropdown-item,
.dropdown-item.active {
  color: white;
  background-color: #343a40;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-item:hover,
.dropdown-item.active:hover {
  color: #343a40 !important;
  background-color: #fff !important;
}

.dropdown-item.userInfo {
  color: #343a40;
}

.user a.dropdown-toggle {
  text-decoration: none;
  color: #fff;
}
.user a.dropdown-toggle:hover {
  color: #dae0e5;
}

@media (max-width: 1200px) {
  .user {
    padding-right: 10px;
  }
}
@media (min-width: 1320px) {
  .courseSearch {
    width: 400px;
  }
}
